

.analysis-result-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
}

.analysis-result-title-container {
    display: flex;
    gap: 0.2rem;
    margin-left: 0.8rem;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}

.analysis-result-patient-data-label-container {
    display: flex;
    gap: 0.4rem;
}

.analysis-result-patient-data-label-title {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
}

.analysis-result-patient-data-value {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.analysis-result-patient-data {
    display: flex;
    justify-content: space-around;
    width: 98vw;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 8px;
}

.analysis-result-ai-results-percentage-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 8px;
  width: 95vw;
  padding: 0.6rem;
  border-radius: 0.8rem;
  

}

.analysis-result-ai-result-percentage-container {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: #FEF9F0;
  padding: 1rem;
  width: 90vw;
  align-items: center;
}

.analysis-result-ai-confiability-percentage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.analysis-result-ai-result-percentage-value {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

.analysis-result-ai-result-confiability-title {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 0.3rem;
}

.analysis-result-ai-result-title {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #F39C12;
}

.analysis-result-ai-automatic-recomendations-main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.analysis-result-ai-text-recomendations-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.analysis-result-ai-text-suggestion-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: #FEF9F0;
}

.analysis-result-ai-text-suggestion-title {
  color: #b97930;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  text-align: center;
}

.analysis-result-ai-text-suggestion-text {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #2C2C2C;
}

.analysis-result-ai-warning-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #FFF3CD;
  border-radius: 0.8rem;
}

.analysis-result-ai-warning-title {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  color: #F39C12;
  text-align: center;
}

.analysis-result-ai-warning-text {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #856404;
}

.analysis-result-professional-conduct-text-area-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 8px;
  border-radius: 0.8rem;
  width: 95vw;
}

.analysis-result-professional-conduct-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.analysis-result-professional-validation-form-labels {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  text-align: center;
}

.analysis-result-professional-validation-input-box {
  padding: 1rem;
  border: 1px solid #E8E5E5;
  border-radius: 0.8rem;
  height: 30vh;
}

.analysis-result-professional-submit-btn {
  padding: 1rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #27AE60;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  width: 70vw;
  align-self: center;

}

.analysis-result-professional-validation-save-sketch-btn {
  background-color: #95A5A6;
  padding: 1rem;
  border: none;
  border-radius: 0.8rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  width: 70vw;
  align-self: center;
  color: #fff;
}