/* A Modern CSS Reset by Andy Bell */

/* 1. Use a mais natural box-sizing. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remova a margem padrão de todos os elementos. */
* {
  margin: 0;
}

/* 3. Permita que elementos de corpo cresçam para preencher a altura. */
html,
body {
  height: 100%;
}

/* 4. Crie um contexto de empilhamento raiz. */
#root {
  isolation: isolate;
}

/* 5. Melhore a tipografia e suavização de fontes. */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif; /* Exemplo: Adicione sua fonte padrão aqui */
}

/* 6. Melhore o comportamento padrão de imagens e mídias. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remova os estilos padrão de formulários. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Evite quebras de texto estranhas. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  /* Tamanhos de Fonte */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-h1: 2.5rem; /* 40px */

  /* Espaçamentos */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
}
