.account-creation-success-main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #33B9B9;
}

.account-creation-success-splash-message-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;

  margin-top: 4rem;
}

.account-creation-sucess-img {
  width: 12rem;
  padding: 1rem;
  margin-top: 2rem;
}

.account-creation-success-title,
.account-creation-success-text {
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.account-creation-success-title {
  font-size: 1rem;
  color: #333333;
}

.account-creation-success-text {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  padding-bottom: 5rem;
  color: #333333;
}

.account-creation-splash-screen-link {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  padding: 1rem;
  width: 85vw;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 901px) { 


  .account-creation-success-main-container {
    height: 100vh;
    justify-content: center;
    background: linear-gradient(to right, #88D8B0 25%, #33B9B9 100%);
  }

  .account-creation-success-splash-message-container {
    height: 60vh;
    width: 70vw;
    margin-bottom: 3rem;
  }

  .account-creation-splash-screen-link {
    width: 36vw;
    font-weight: 600;
    color: #333333;

  }

  .account-creation-success-title {
    font-weight: 800;
    font-size: 2.6rem;
  }

  .account-creation-success-text {
    font-size: 1.5rem;
    color: #707070;
  }

  .account-creation-splash-screen-link:hover {
    cursor: pointer;
    background-color: #333333;
    color: #fff;
  }


}
