.login-main-container {
  background-color: #ffffff;
}

/* <weight> Use a value from 100 to 900
/* <uniquifier> Use a unique and descriptive class name */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.login-text-test {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
}

.login-main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-logo {
  width: 13rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.login-options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  margin-bottom: 6rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-form-labels {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 0.7rem;
}

.login-input-box::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.15rem;
  color: #9a9a9a;
}

.login-input-box {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f0f0f0;
}

.login-input-box:focus {
  outline: none;
}

.login-create-account-link,
.password-reset-link,
.login-submit-btn,
.login-create-account-title {
  font-family: 'Inter', sans-serif;
}

.password-reset-link {
  color: #33b9b9;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.login-submit-btn {
  font-size: 1.4rem;
  padding: 0.8rem;
  border-radius: 1rem;
  border: none;
  background-color: #33b9b9;
  color: #ffffff;
}

.login-create-account-title {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.login-create-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.login-create-account-link {
  font-size: 1.2rem;
  margin-top: 1rem;
  border: 1px solid #33b9b9;
  width: 90vw;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  border-radius: 1rem;
}


@media (min-width: 901px) {
  /* .login-main-container {
    width: 80vw;
    height: 80vh;
  } */

  .login-create-account-link {
    width: 30vw;
  }
}