/* src/components/Navbar.css */

/* --- Estrutura Principal --- */
.navbar {
  position: fixed !important;
  background-color: transparent !important;
  color: #33b9b9 !important;
  box-shadow: none !important;
  transition: all 0.3s ease-in-out !important;
}

.navbar.scrolled {
  background-color: #fff !important;
  color: #33b9b9 !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2) !important;
}

.navbar-toolbar {
  display: flex;
  align-items: center;
  /* 1. Adicionado para o título da página funcionar */
  position: relative; 
}

/* --- Título da Página (NOVO) --- */
.navbar-page-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: inherit;
  /* Garante que ele apareça em telas pequenas */
  display: block; 
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

/* --- Marca (Logo e Título) --- */
.navbar-brand-logo {
  height: 40px; 
  margin-right: 8px;
  transition: filter 0.3s ease-in-out;
}

.navbar.scrolled .navbar-brand-logo {
  filter: none; 
}

.navbar-brand-title {
  flex-grow: 1;
}

/* --- Links de Navegação (Desktop) --- */
.navbar-desktop-links .navbar-link {
  color: inherit; 
  text-transform: none; 
  font-weight: 500;
}

/* --- Drawer (Menu Mobile) --- */
.drawer-container {
  text-align: center;
  width: 250px;
}

.drawer-title {
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #ffffff; 
  background-color: #33b9b9;

}

.drawer-nav-item span {
  font-size: 1rem;
  font-weight: 500;
  color: #33b9b9;
}

.drawer-nav-icon {
  color: #33b9b9;
}

/* --- Responsividade --- */
.navbar-desktop-links,
.navbar-brand-title {
  display: none;
}

.navbar-brand-logo {
  display: none;
}

.navbar-menu-icon {
  display: block;
}

/* 2. Regra para aumentar o ícone de hambúrguer (NOVO) */
.navbar-menu-icon svg {
  font-size: 2.5rem; /* Ajuste este valor conforme necessário */
}


.image-container-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.logo-visus-ai {
  display: flex;
  width: 8rem;
}

/* A partir de 600px (breakpoint 'sm' do MUI) */
@media (min-width: 600px) {
  .navbar-desktop-links,
  .navbar-brand-title {
    display: block;
  }
  .navbar-brand-logo {
    display: block;
  }
  .navbar-menu-icon {
    display: none !important;
  }
  /* 3. Esconde o título de página móvel no desktop (NOVO) */
  .navbar-page-title {
    display: none;
  }
}