.email-sending-success-main-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.email-sending-success-splash-message-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;

  margin-top: 4rem;
}

.email-sending-sucess-img {
  width: 12rem;
  padding: 1rem;
  margin-top: 2rem;
}

.email-sending-success-title,
.email-sending-success-text {
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.email-sending-success-title {
  font-size: 1rem;
  color: #333333;
}

.email-sending-success-text {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  padding-bottom: 5rem;
  color: #333333;
}

.email-sending-splash-screen-link {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #fff;
  padding: 1rem;
  width: 85vw;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  margin-top: 1.2rem;
}

@media screen and (min-width: 901px) {
  .email-sending-success-main-container {
    background-color: #33b9b9;
    height: 100vh;
  }

  .email-sending-success-splash-message-container {
    width: 70vw;
    padding: 5rem;
  }

  .email-sending-success-title {
    font-size: 2.5rem;
  }

  .email-sending-success-text {
    font-size: 1.4rem;
    color: #707070;
  }
}
