.patient-list-main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 8rem;
    justify-content: center;
}


.patient-list-data-title-container {
    display: flex;
    gap: 0.5rem;
    text-align: start;
    align-items: center;
    width: 95vw;
    margin-left: 0.5rem;
    margin-bottom: 0.4rem;
}


.patient-list-box-data-title {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.patient-list-data-icon {
    width: 1.2rem;
}

.patient-list-recent-data-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #FAFAFA;
    width: 100vw;
    border-radius: 0.7rem;
}

.patient-list-data-titles {
    display: flex;
    gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.8rem;
    justify-content: space-around;
    width: 95vw;
}

.patient-list-data-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 95vw;
}


.patient-list-data {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.patient-list-data-result, .patient-list-data-last-analysis{
    text-align: center;
    font-weight: 800;
    font-size: 0.9rem;
}


.patient-list-status-title {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
}

.patient-list-data-status {
    
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 50vw;
}

.patient-list-status-box-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.patient-list-data-title {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    align-self: center;
}

.patient-list-data-result {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
}

.patient-list-data-name, .patient-list-data-day {
    font-size: 0.9rem;
    text-align: center;
}

.patient-list-redirection-btn {
    background-color: #33B9B9;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.patient-list-data-container-box {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #DADADA;
}

.patient-list-new-patient-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    width: 60vw;
    align-self: flex-end;
    margin-right: 2rem;
    gap: 1rem;
    border: none;
    border-radius: 0.8rem;
    color: #fff;
    background-color: #27AE60;
    margin-bottom: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.patient-list-pages-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
}

.patient-list-patient-number {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.patient-list-page-nav-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.patient-list-next-page-btn, .patient-list-previous-page-btn {
    border: none;
    padding: 0.7rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    border-radius: 0.5rem;
    width: 40vw;
    margin-top: 0.8rem;
}

.patient-list-next-page-btn {
    background-color: #3498DB;
}

.patient-list-previous-page-btn {
    background-color: #989898;
}