.register-professional-back-icon {
  background-color: #d9d9d9;
  width: 3rem;
  border-radius: 0.8rem;
}

.register-professional-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.register-professional-nav-header {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  padding: 0.8rem;
}

.register-professional-page-title {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #33b9b9;
}

.register-professional-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 0.5rem;
}

.register-professional-form-labels {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 0.7rem;
  margin-top: 0.5rem;
}

.register-professional-input-box::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.15rem;
  color: #919494;
}

.register-professional-input-box {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ebebeb;
}

.register-professional-input-box:focus {
  outline: none;
}

.register-professional-login-redirect-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #33b9b9;
}

.register-professional-login-link {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #33b9b9;
}

.register-professional-login-redirect {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.register-professional-text-title-form-container {
  display: none;
}

.register-professional-submit-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #33b9b9;
  color: #fff;
  margin-top: 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  width: 90vw;
  align-self: center;
  transition: 0.2s ease-in-out;
}

.register-professional-submit-btn:active {
  opacity: 0.5;
}

.register-professional-submit-btn:hover, .register-professional-login-link:hover {
  opacity: 0.5;
  cursor: pointer;
}


@media screen and (min-width: 901px) { 

.register-professional-nav-header {
  display: none;
}

.register-professional-form-greetings-container {
  display: flex;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  


}

.register-professional-text-title-form-container {
  display: flex;
  justify-content: center;
}

.register-professional-input-box {
  width: 40vw;
}

.register-professional-greetings-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background: linear-gradient(to right, #88D8B0 25%, #33B9B9 100%);
  padding: 3rem;
}

.register-professional-greetings-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: #fff;
  padding-top: 2rem;
}

.register-professional-greetings-main-container {
  display: flex;
  flex-direction: column;
  
}

.register-professional-greetings-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  margin-bottom: 4rem;

}

.register-professional-submit-btn {
  width: 40vw;
}

.register-professional-logo-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #FBFFFD;
  padding-bottom: 4rem;
  border: 1px solid #f5f5f5;
}

.register-professional-logo {
  width: 16rem;
}

.register-professional-form {
  width: 90vw;
  padding: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
    
}

@media screen and (max-width: 900px) {
  .register-professional-greetings-main-container {
    display: none;
  }
}

