

.account-recovery-main-container {
    display: flex;
    flex-direction: column;
    
}

.account-recovery-nav-header {
  display: flex;
  align-items: center;
  gap: 3.4rem;
  padding: 0.8rem;
  margin-top: 1rem;
  justify-content: space-evenly;
}

.account-recovery-back-icon-container {
    
    background-color: #ebebeb;
    border-radius: 0.8rem;
    align-self: flex-end;
    border-right: 1rem;
}

.account-recovery-page-title {
  font-family: 'Inter', sans-serif;
  flex-direction: row;
  font-weight: 300;
  color: #33b9b9;
  justify-self: center;
  
}

.account-recovery-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 3rem;
  padding: 0.5rem;
}

.account-recovery-form-labels {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 0.7rem;
  margin-top: 0.5rem;
}

.account-recovery-input-box::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.15rem;
  color: #919494;
}

.account-recovery-input-box {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ebebeb;
}

.account-recovery-input-box:focus {
  outline: none;
}

.account-recovery-desc-title {
    width: 90vw;
    align-self: center;
    text-align: center;
    margin-bottom: 2rem;
}

.account-recovery-submit-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #33b9b9;
  color: #fff;
  margin-top: 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  width: 90vw;
  align-self: center;
  transition: 0.3s ease;
  margin-top: 12rem;
}

.account-recovery-submit-btn:active {
     opacity: 0.5;
}
.account-recovery-link {
  transition: 0.3s ease-in-out;
}

.account-recovery-submit-btn:hover, .account-recovery-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.account-recovery-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #33b9b9;

}

@media (min-width: 901px) {
  .account-recovery-form {
    width: 40vw;
  }

  .account-recovery-submit-btn {
    width: 20vw;
  }

  .account-recovery-main-container {
    justify-content: center;
    align-items: center;
    
  }
  .account-recovery-nav-header {
    width: 60vw;
  }

  .account-recovery-form {
    margin-top: 10rem;
  }

  .account-recovery-desc-title {
    width: 40vw;
  }

}

